*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;

}
nav ul li{
    display: inline-block;
   margin-right: 20px;
   list-style: none;
   bottom: -40px;
   

}
nav ul li a{
   text-decoration: none;
   color: #555;
}
nav ul li a::after{
    content: '';
    height: 2px;
    width: 0;
    background: #279a92;
    position: absolute;
    left: 0;
    bottom: -10px;
    font-size: large;
    transition: 0.5s;
     
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 24px;
    padding-right: 25px;
}
.search{
    flex: 1;
    border: none;
    outline: none;
    width: 400px;
    height: 40px;
    padding: 10px 50px;
}
.btn1{
    background: tomato;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 50px 0px;

}
.col-2 h1{
    font-size: 60px;
    line-height: 50px;
    margin: 25px 0;
    font-style: italic;

}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 3s;
    font-weight:bolder;
}
.btn:hover{
        background: dodgerblue;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
body{
    font-family: 'Poppins', sans-serif;
}
.header .row{
    margin-top: 70px;
}

.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;

}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;

    
}

.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 80;
    position: relative;
    line-height: 60px;
    color: rgb(61, 59, 59);

}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
h4{
    color: #555;
    font-weight: normal;

}

.col-4 p{
    font-size: 14px;

}
.rating .fa{
    color: #ffd83b;
}
.col-4:hover{
    transform: translateY(-25px);
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}
.brands{
    margin: 20px auto;
}
.col-5{
    width: 190px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    padding: 60px;
    filter:brightness();
}

/*---footer---*/

.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-left: 0px;

    

}
.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;

}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
    }
    .app-logo img{
        width: 140px;
    }

    .footer hr{
        border: none;
        background: #b5b5b5;
        height: 3px;
        margin: 20px 0;
    }
    
    .Copyright{
        text-align: center;
    }
    .menu-icon{
        width: 28px;
        margin-left: 20px;
        display: none;
    }
    /* ------ media query for menu----
    
    @media only screen and (max-width: 800px){
        
   
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100px;
        overflow: hidden;
        transition: max-height 1s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;

    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: #fff;

    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
 }
 /*------ media query for less than 600 screens size----*/
 
    @media only screen and (max-width: 800px)
